@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255, 255, 255;
    --foreground: 18, 18, 18;
    --card: 255, 255, 255;
    --card-foreground: 18, 18, 18;
    --popover: 255, 255, 255;
    --popover-foreground: 18, 18, 18;
    --primary: 18, 18, 18;
    --primary-foreground: 255, 255, 255;
    --secondary: 243, 243, 243;
    --secondary-foreground: 18, 18, 18;
    --muted: 243, 243, 243;
    --muted-foreground: 18, 18, 18;
    --accent: 243, 243, 243;
    --accent-foreground: 18, 18, 18;
    --destructive: 178, 34, 34;
    --destructive-foreground: 255, 255, 255;
    --border: 191, 191, 191;
    --input: 191, 191, 191;
    --ring: 18, 18, 18;
    --radius: 0rem;
  }

  .dark {
    --background: 0, 0, 0;
    --foreground: 234, 209, 152;
    --card: 0, 0, 0;
    --card-foreground: 234, 209, 152;
    --popover: 0, 0, 0;
    --popover-foreground: 234, 209, 152;
    --primary: 255, 255, 255;
    --primary-foreground: 18, 18, 18;
    --secondary: 0, 0, 0;
    --secondary-foreground: 255, 255, 255;
    --muted: 0, 0, 0;
    --muted-foreground: 255, 255, 255;
    --accent: 0, 0, 0;
    --accent-foreground: 255, 255, 255;
    --destructive: 178, 34, 34;
    --destructive-foreground: 234, 209, 152;
    --border: 128, 128, 128;
    --input: 128, 128, 128;
    --ring: 255, 255, 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
