@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 45 68% 52%;
    --primary-foreground: 40 33% 97%;
    --secondary: 220 13% 15%; /* Bleu nuit profond */
    --secondary-foreground: 40 33% 97%; /* Texte clair sur fond sombre */
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%; /* Gris plus foncé pour une meilleure lisibilité */
    --accent: 220 13% 20%; /* Bleu nuit légèrement plus clair pour l'accentuation */
    --accent-foreground: 40 33% 97%;
    --destructive: 38 92% 50%; /* Or/Ambre pour les alertes */
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 45 68% 52%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 13% 5%; /* Fond presque noir */
    --foreground: 40 33% 97%;
    --card: 220 13% 10%; /* Cartes en bleu nuit très sombre */
    --card-foreground: 40 33% 97%;
    --popover: 220 13% 10%;
    --popover-foreground: 40 33% 97%;
    --primary: 45 68% 52%;
    --primary-foreground: 215 28% 10%;
    --secondary: 220 13% 15%; /* Bleu nuit profond */
    --secondary-foreground: 40 33% 97%;
    --muted: 220 13% 15%;
    --muted-foreground: 40 33% 80%;
    --accent: 220 13% 20%;
    --accent-foreground: 40 33% 97%;
    --destructive: 38 92% 50%; /* Or/Ambre pour les alertes (mode sombre) */
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 20%; /* Bordure assortie */
    --input: 220 13% 25%;
    --ring: 45 68% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    zoom: 0.9;
  }
  
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }

  .animate-marquee {
      display: inline-block;
      animation: marquee 30s linear infinite;
      white-space: nowrap;
      padding-right: 100%; /* Ensures a smooth loop */
  }
}

